{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
  {% include 'messages.html' %}
  <!--
  <div class="col-12">
    <button onclick="delete_button_check();" class="edit_button btn btn-primary float-right"
            style="margin-bottom:5px" value="check">편집</button>
    <button onclick="delete_button_check();" class="delete_button btn btn-danger float-right"
            style="margin-bottom:5px" value="not_checked">삭제</button>
  </div>
  -->
  <table class="table table-hover bookmark_table" style="text-align:center;">
    <thead>
      <tr class="thead-dark">
        <th>문구</th>
        <th>제목</th>
        <th>작가</th>
      </tr>
    </thead>
    <tbody>
      {% if bookmark_list %}
        {% for bookmark in bookmark_list %}
          <tr>
            <td data-uri="{% url 'main:bookmark_delete' bookmark.id%}" style="width:70%" class="table_row" name="{{bookmark.id}}">{{bookmark.content}}</td>
            <td>{{bookmark.title}}</td>
            <td>{{ bookmark.writer }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center">
    <!-- 이전 페이지 -->
    {% if bookmark_list.has_previoust %}
    <li class="page-item">
      <a class="page-link" href="?page={{bookmark_list.previous_page_number}}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지 리스트 -->
    {% for page_number in bookmark_list.paginator.page_range %}
      {% if page_number == bookmark_list.number %}
      <li class="page-item active" aria-content="page">
        <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
      </li>
      {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if bookmark_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{bookmark_list.next_page_number}}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  <!-- 페이징처리 끝 -->

</div>
{% endblock%}

{% block script%}
<script>
  $(document).ready(function(){
    $(".table_row").on('click', function() {
      if(confirm("삭제하시겠습니까?")==true){
        location.href = $(this).data('uri');
      }
      else{
        return false;
      }
    });
  });
  /*
  
  $(".delete_check").hide();
  $(".delete_button").hide();
  function delete_button_check(){
    var edit_value = $('.edit_button').val();
    var delete_value = $('.delete_button').val();
    if(edit_value=="check" && delete_value=="not_checked"){
      //편집, 삭제 버튼 토글
      $(".edit_button").hide();
      $(".delete_button").show();

      //체크박스 보이게
      $(".delete_check").show();

      $('.edit_button').attr("value", "not_checked");
      $('.delete_button').attr("value", "check");

      if()
    }
    else if(edit_value=="not_checked" && delete_value=="check"){
      //편집, 삭제 버튼 토글
      $(".edit_button").show();
      $(".delete_button").hide();

      //체크박스 안보이게
      $(".delete_check").hide();

      $('.edit_button').attr("value", "check");
      $('.delete_button').attr("value", "not_checked");
    }
  }
  */ 
</script>
{% endblock%}