{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 20vh">
            <a href="#" onclick="addLike()" data-uri="{% url 'main:bookmark' sentence.id %}" class="heartBtn btn" id="heartBtn">
                {% if heart%}
                    <i class="fas fa-heart fa-2x" style="color:red;"></i>
                {% else %}
                    <i class="far fa-heart fa-2x" style="color:black;"></i>
                {% endif %}
            </a>
        </div>
        <!-- 문구를 세로로 중앙에 배치하는 div -->
        <div class="row justify-content-center align-items-center" style="min-height: 50vh">
            <div class="container">
                <h1 class="text-center">
                    "{{sentence.content}}"
                </h1>
            </div>
            <div class="card" style="font-size:0.7em">
                <div class="card-body text-center"><strong>{{sentence.title}}</strong>&nbsp;&nbsp;&nbsp;{{sentence.writer}}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script%}
<script>
    {% comment %} function addLike(){
        const pushHeartBtn = document.querySelector(".heartBtn");
                pushHeartBtn.innerHTML ='<i class="fas fa-heart fa-2x"></i>';
                pushHeartBtn.style.color ='red';
                location.href = window.location.href + pushHeartBtn.value();
    } {% endcomment %}
    
    $(document).ready(function(){
        $(".heartBtn").on('click', function() {
            location.href = $(this).data('uri');
        });
    });
</script>
<style>
    .btn:focus, .btn:active:focus, .btn.active:focus{
        outline:none;
        box-shadow:none;
    }
</style>
{% endblock%}